.card {
  height: 120px;
  width: 120px;
  background-color: #394867;
  color: white;
  margin: 10px;
  display: inline-block;
}

.card p {
  position: relative;
  top: 35px;
}

.fade {
  display: inline-block;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  0% {opacity: .2}
  25% {opacity: .4}
  50% {opacity: .6}
  75% {opacity: .8}
  100% {opacity: 1}
}

@keyframes fade {
  0% {opacity: .2}
  25% {opacity: .4}
  50% {opacity: .6}
  75% {opacity: .8}
  100% {opacity: 1}
}